:host{
    min-height: calc(100vh - 120px);
    padding: 2em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.137);
    background-blend-mode: soft-light ;
    background-size:cover;
    background-position:center;
    background-image: url('../../assets/exchangebg.jpeg');
}
.exchangeApp{
    font-size: 16px;
    position: relative;
    padding: 2.5em 1.5em;
    width: 450px;
    border-radius: 15px;
    background-color: #009929;
}  
@media only screen and (max-width:575px) {
    :host{
        min-height: calc(100vh - 115px);
    }
    .exchangeApp{
        width: 340px;
        font-size: 16px;
    }
}