:host{
    min-height: calc(100vh - 120px);
    padding: 2em 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.137);
    background-blend-mode: soft-light ;
    background-image: radial-gradient(circle farthest-side, #464646 30%,#2a2a2b 100%);
}
.exchangeApp{
    font-size: 16px;
    position: relative;
    padding: 2.5em 1.5em;
    width: 450px;
    border-radius: 8px;
    background-blend-mode:saturation ;
    box-shadow: 4px 6px 6px 5px rgba(255, 255, 255, 0.15);
    background: linear-gradient(to bottom, #35c727 30%, #15b923 50%);

}  
@media only screen and (max-width:575px) {
    :host{
        min-height: calc(100vh - 115px);
    }
    .exchangeApp{
        width: 340px;
        font-size: 16px;
    }
}