<form [formGroup]="converterCalc" class="currencyConverter">
    <div class="currencyConverter__coin">
        <label for="">Dollar</label>
        <input 
        type="number" 
        placeholder="0"
        formControlName="dollarAmount"
        [value]="dollarAmountConverted"
        (input)="convertDollarToArg()"
        (keydown.enter)="onEnter($event)" >
    </div>
    <div class="currencyConverter__exchange">
        <i  class='bx bx-transfer'></i>
    </div>
    <div class="currencyConverter__coin">
        <label for="">AR Peso</label>
        <input 
        type="number" 
        placeholder="0"
        (keydown.enter)="onEnter($event)"
        [value]="argsAmountConverted"
        (input)="convertArgToDollar()"
        formControlName="argAmount">
    </div>
</form>

<div class="currencyConverted">
    <p class="currencyConverted__coin">$ {{dollarAmountConverted.toLocaleString()}} USD </p>
    <p class="currencyConverted__sign">=</p>
    <p class="currencyConverted__coin">$ {{argsAmountConverted.toLocaleString()}} ARS</p>
</div>