
<div class="currencyConverter">
    <div class="currencyConverter__coin">
        <form >
            <label for="">Dollar</label>
            <input type="number" placeholder="0">
        </form>
    </div>
    <div class="currencyConverter__exchange">
        <i class='bx bx-transfer'></i>
    </div>
    <div class="currencyConverter__coin">
        <form >
            <label for="">AR Peso</label>
            <input type="number" placeholder="0">
        </form>
    </div>
</div> 
<div class="currencyConverted">
    <p class="currencyConverted__coin">$ 0 USD </p>
    <p class="currencyConverted__sign">=</p>
    <p class="currencyConverted__coin">$ 0 ARS</p>
</div>
