
.weatherApp{
    font-size: 16px;
    position: relative;
    margin: 0 auto;
    width: 350px;
    height: 500px;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    background-color: #ff9800;
    border-radius: 16px;
    transition: .8s ease all;
    
    img{
        position: absolute;
        top: 42px;
        right: 5px;
    }
    app-search{
        z-index: 20;
    }
    app-info{
        z-index: 20;
    }
    app-detail{
        z-index: 20;
    }
}
.content{
    padding: 1em 0;
    margin: 0;
    background-size: cover;
    background-position:center;
    height: 100%;
}
@media only screen and (max-width:575px) {
    .weatherApp{
        width: 340px;
        font-size: 15px;
        padding: 1.5em 1.5em;
        img{
            width: 280px;
            top: 50px;
            right: 15px;
        }
        
    }
}