<div class="container">
    <div class="weatherApp">
        <img src="./../../assets/bgImage.svg" alt="">
        <form >
            <div class="weatherApp__searchBox">
                <i class='bx bx-search'></i>
                <input type="text" placeholder="City">
            </div>
        </form>
        <div class="weatherApp__mainInfo">
            <p class="weatherApp__mainInfo__city">San Salvador de Jujuy</p>
            <div class="weatherApp__mainInfo__celsius-container">
                <p class="weatherApp__mainInfo__celsius-container__number">33</p>
                <p class="weatherApp__mainInfo__celsius-container__celsius">°C</p>
            </div>
        </div>
        <div class="weatherApp__details">
            <p class="weatherApp__details__minmax">30°C / 21°C</p>
            <div class="weatherApp__details__wind detail">
                <div class="icon">
                    <p class="info">Winter speed</p>
                    <i class='bx bx-wind'></i>
                </div>
                <p class="weatherApp__details__wind__detail">2.57m/s</p>
            </div>
            <div class="weatherApp__details__clouds detail">
                <div class="icon">
                    <p class="info">Cloudiness</p>
                    <i class='bx bx-cloud' ></i>
                </div>
                <p class="weatherApp__details__clouds__detail">2.57m/s</p>
            </div>
            <div class="weatherApp__details__humidity detail">
                <div class="icon">
                    <p class="info">Humidity</p>
                    <i class='bx bx-water'></i>
                </div>
                <p class="weatherApp__details__humidity__detail">2.57m/s</p>
            </div>
            <div class="weatherApp__details__pressure detail">
                <div class="icon">
                    <p class="info">Pressure</p>
                    <i class='bx bx-tachometer'></i>
                </div>
                <p class="weatherApp__details__pressure__detail">2.57m/s</p>
            </div>
        </div>
    </div>
    
</div>

