<div class="footer">
    <div class="container footer__content">
        <p>Contact me </p>
        <div class="footer__content__icons">
            <a href="https://www.instagram.com/jorgem_088/?hl=es-la" target="blank"><i class='bx bxl-instagram-alt instagram'></i></a>
            <a href="https://www.linkedin.com/in/jorge-n-mendez/" target="blank"><i class='bx bxl-linkedin-square linkedin'  ></i></a>
            <a href="https://github.com/jorge088" target="blank"><i class='bx bxl-github github'></i></a>
            
        </div>
    </div>
</div>