.footer{
    font-size: 16px;
    background-color: #035397;
    margin-top: auto;
    &__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & p{
            font-size: 1.2em;
            font-weight: 800;
            padding: .2em 0;
            margin: 0;
            color: #FFF;
            
        }
        &__icons{
            a{
                margin: 0;
                text-decoration: none;
                color: #FFF;
                & i{
                    font-size: 2em;
                    padding: .1em .3em;
                    transition: .3s ease all;
                    &.instagram{
                        &:hover{
                            color: #db2f76;
                            filter: drop-shadow(1px 1px 2px #FFF);   
                        }                 
                    }
                    &.linkedin{
                        &:hover{
                            filter: drop-shadow(1px 1px 1px #FFF);                        
                        }
                    }
                    &.github{
                        &:hover{
                            color: #171515;
                            filter: drop-shadow(1px 1px 2px #FFF);                        
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width:575px) {
    .footer{
        font-size: 14px;
    }
}