.headerNav{
    font-size: 16px;
    background-color: #035397;
    &__logo{
        color: #FFF;
        font-size: 1.5em;
        font-weight: 700;
    }
    &__list{
        margin-left: auto;
        &__item{
            & a{
                color: #FFF;
                font-size: 1.2em;
                font-weight: 700;
                margin-right: 1.2em;
                padding: 0.5em 0;
            }
        }
    }
}
 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler {
    border:  2px solid #FFF;
    color: transparent; 
}
@media only screen and (max-width:575px) {
    .headerNav{
        font-size: 14px;
    }
}